[*.cs]

# API1000: Action returns undeclared status code
dotnet_diagnostic.API1000.severity = warning

# API1002: Action documents status code that is not returned
dotnet_diagnostic.API1002.severity = none

# API1003: Action methods on ApiController instances do not require explicit model validation check
dotnet_diagnostic.API1003.severity = suggestion
